APP_NAME="gocrudb API"
APP_ENV=dev
APP_PORT=3000
# Application DB
DB_SKIP_SETUP=false
DB_HOST=localhost
DB_PORT=5432
DB_NAME=gocrudb
DB_USER=gocrudb
DB_PASSWORD=gocrudb
DB_SSL_MODE=disable
DB_TIME_ZONE="Europe/Berlin"
# Service DB
SERVICE_DB_HOST=localhost
SERVICE_DB_PORT=5432
SERVICE_DB_NAME=postgres
SERVICE_DB_USER=postgres
SERVICE_DB_PASSWORD=
SERVICE_DB_SSL_MODE=disable
SERVICE_DB_TIME_ZONE="Europe/Berlin"
# Rate limiter
RATE_LIMITER_REQUESTS_PER_SECOND=1
RATE_LIMITER_REQUESTS_BURST_SIZE=5
